openapi: 3.0.3
info:
  title: HEI Diploma API
  description: Comprehensive API for HEI Diploma management, including users, courses, groups, exams, grades, and student assignments.
  version: "1.0.0"
  contact:
    name: HEI Diploma Support
    email: support@hei-diploma.com

servers:
  - url: https://jw2gvvbvscbctuisnk4khuphxq0bxvqz.lambda-url.eu-west-3.on.aws/
    description: Pre-production server
  - url: http://localhost:8080
    description: Local development server

tags:
  - name: Users
    description: User management (creation and administration)
  - name: Students
    description: Student operations
  - name: Teachers
    description: Teacher operations
  - name: Courses
    description: Course management
  - name: Promotions
    description: Promotion (academic year) management
  - name: Semesters
    description: Semester management
  - name: Groups
    description: Student group management
  - name: Exams
    description: Examination management
  - name: Notes
    description: Grade management
  - name: Note Histories
    description: Grade modification history
  - name: Teachings
    description: Course-teacher associations
  - name: Course Specialities
    description: Course specialities
  - name: Affectations
    description: Student-to-group assignments
  - name: Group Exams
    description: Group-to-exam associations

paths:
  /users:
    post:
      tags: [Users]
      summary: Create an administrator
      description: Creates a new administrator user.
      operationId: createAdmin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdminRequest'
      responses:
        '201':
          description: Administrator successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/students:
    post:
      tags: [Users]
      summary: Create a student (legacy endpoint)
      operationId: createStudentLegacy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: Student successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/teachers:
    post:
      tags: [Users]
      summary: Create a teacher (legacy endpoint)
      operationId: createTeacherLegacy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: Teacher successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/admins:
    post:
      tags: [Users]
      summary: Create an administrator (legacy endpoint)
      operationId: createAdminLegacy
      security:
        - bearerAuth: [ADMIN]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: Administrator successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Not authenticated
        '403':
          description: Access denied (insufficient role)
        '409':
          $ref: '#/components/responses/Conflict'

  /students:
    post:
      tags: [Students]
      summary: Create a student
      operationId: createStudent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Student'
      responses:
        '201':
          description: Student successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
        '400':
          $ref: '#/components/responses/BadRequest'
    get:
      tags: [Students]
      summary: Retrieve all students
      operationId: getAllStudents
      responses:
        '200':
          description: List of all students
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'

  /students/{id}:
    get:
      tags: [Students]
      summary: Retrieve a student by ID
      operationId: getStudentById
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '200':
          description: Student details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
        '404':
          description: Student not found
    put:
      tags: [Students]
      summary: Update a student
      operationId: updateStudent
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Student'
      responses:
        '200':
          description: Student successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Student not found
    delete:
      tags: [Students]
      summary: Delete a student
      operationId: deleteStudent
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '204':
          description: Student successfully deleted
        '404':
          description: Student not found

  /teachers:
    post:
      tags: [Teachers]
      summary: Create a teacher
      operationId: createTeacher
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Teacher'
      responses:
        '201':
          description: Teacher successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Teacher'
        '400':
          $ref: '#/components/responses/BadRequest'
    get:
      tags: [Teachers]
      summary: Retrieve all teachers
      operationId: getAllTeachers
      responses:
        '200':
          description: List of all teachers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Teacher'

  /teachers/{id}:
    get:
      tags: [Teachers]
      summary: Retrieve a teacher by ID
      operationId: getTeacherById
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '200':
          description: Teacher details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Teacher'
        '404':
          description: Teacher not found
    put:
      tags: [Teachers]
      summary: Update a teacher
      operationId: updateTeacher
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Teacher'
      responses:
        '200':
          description: Teacher successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Teacher'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Teacher not found
    delete:
      tags: [Teachers]
      summary: Delete a teacher
      operationId: deleteTeacher
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '204':
          description: Teacher successfully deleted
        '404':
          description: Teacher not found

  /courses:
    post:
      tags: [Courses]
      summary: Create a course
      operationId: createCourse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Course'
      responses:
        '201':
          description: Course successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'
        '400':
          $ref: '#/components/responses/BadRequest'
    get:
      tags: [Courses]
      summary: Retrieve all courses
      operationId: getAllCourses
      responses:
        '200':
          description: List of all courses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Course'

  /courses/{id}:
    get:
      tags: [Courses]
      summary: Retrieve a course by ID
      operationId: getCourseById
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '200':
          description: Course details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'
        '404':
          description: Course not found
    put:
      tags: [Courses]
      summary: Update a course
      operationId: updateCourse
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Course'
      responses:
        '200':
          description: Course successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Course not found
    delete:
      tags: [Courses]
      summary: Delete a course
      operationId: deleteCourse
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '204':
          description: Course successfully deleted
        '404':
          description: Course not found

  /promotions:
    post:
      tags: [Promotions]
      summary: Create a promotion
      operationId: createPromotion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Promotion'
      responses:
        '201':
          description: Promotion successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Promotion'
        '400':
          $ref: '#/components/responses/BadRequest'
    get:
      tags: [Promotions]
      summary: Retrieve all promotions
      operationId: getAllPromotions
      responses:
        '200':
          description: List of all promotions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Promotion'

  /promotions/{id}:
    get:
      tags: [Promotions]
      summary: Retrieve a promotion by ID
      operationId: getPromotionById
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '200':
          description: Promotion details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Promotion'
        '404':
          description: Promotion not found
    put:
      tags: [Promotions]
      summary: Update a promotion
      operationId: updatePromotion
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Promotion'
      responses:
        '200':
          description: Promotion successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Promotion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Promotion not found
    delete:
      tags: [Promotions]
      summary: Delete a promotion
      operationId: deletePromotion
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '204':
          description: Promotion successfully deleted
        '404':
          description: Promotion not found

  /semesters:
    post:
      tags: [Semesters]
      summary: Create a semester
      operationId: createSemester
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Semester'
      responses:
        '201':
          description: Semester successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Semester'
        '400':
          $ref: '#/components/responses/BadRequest'
    get:
      tags: [Semesters]
      summary: Retrieve all semesters
      operationId: getAllSemesters
      responses:
        '200':
          description: List of all semesters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Semester'

  /semesters/{id}:
    get:
      tags: [Semesters]
      summary: Retrieve a semester by ID
      operationId: getSemesterById
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '200':
          description: Semester details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Semester'
        '404':
          description: Semester not found
    put:
      tags: [Semesters]
      summary: Update a semester
      operationId: updateSemester
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Semester'
      responses:
        '200':
          description: Semester successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Semester'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Semester not found
    delete:
      tags: [Semesters]
      summary: Delete a semester
      operationId: deleteSemester
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '204':
          description: Semester successfully deleted
        '404':
          description: Semester not found

  /groups:
    post:
      tags: [Groups]
      summary: Create a group
      operationId: createGroup
      parameters:
        - name: promotionId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the promotion the group belongs to
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
      responses:
        '201':
          description: Group successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          $ref: '#/components/responses/BadRequest'
    get:
      tags: [Groups]
      summary: Retrieve all groups
      operationId: getAllGroups
      responses:
        '200':
          description: List of all groups
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'

  /groups/{id}:
    get:
      tags: [Groups]
      summary: Retrieve a group by ID
      operationId: getGroupById
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '200':
          description: Group details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '404':
          description: Group not found
    put:
      tags: [Groups]
      summary: Update a group
      operationId: updateGroup
      parameters:
        - $ref: '#/components/parameters/UuidPath'
        - name: promotionId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the new promotion for the group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
      responses:
        '200':
          description: Group successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Group not found
    delete:
      tags: [Groups]
      summary: Delete a group
      operationId: deleteGroup
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '204':
          description: Group successfully deleted
        '404':
          description: Group not found

  /exams:
    post:
      tags: [Exams]
      summary: Create an exam
      operationId: createExam
      parameters:
        - name: courseId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the course associated with the exam
        - name: semesterId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the semester for the exam
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Exam'
      responses:
        '201':
          description: Exam successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exam'
        '400':
          $ref: '#/components/responses/BadRequest'
    get:
      tags: [Exams]
      summary: Retrieve all exams
      operationId: getAllExams
      responses:
        '200':
          description: List of all exams
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exam'

  /exams/{id}:
    get:
      tags: [Exams]
      summary: Retrieve an exam by ID
      operationId: getExamById
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '200':
          description: Exam details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exam'
        '404':
          description: Exam not found
    put:
      tags: [Exams]
      summary: Update an exam
      operationId: updateExam
      parameters:
        - $ref: '#/components/parameters/UuidPath'
        - name: courseId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the new course for the exam
        - name: semesterId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the new semester for the exam
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Exam'
      responses:
        '200':
          description: Exam successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exam'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Exam not found
    delete:
      tags: [Exams]
      summary: Delete an exam
      operationId: deleteExam
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '204':
          description: Exam successfully deleted
        '404':
          description: Exam not found

  /notes:
    post:
      tags: [Notes]
      summary: Create a grade
      operationId: createNote
      security:
        - bearerAuth: []
      parameters:
        - name: examId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the exam linked to the grade
        - name: studentId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the student who received the grade
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
      responses:
        '201':
          description: Grade successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Not authenticated
    get:
      tags: [Notes]
      summary: Retrieve all grades (based on user permissions)
      operationId: getAllNotes
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of accessible grades
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Note'
        '401':
          description: Not authenticated

  /notes/{id}:
    get:
      tags: [Notes]
      summary: Retrieve a grade by ID
      operationId: getNoteById
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '200':
          description: Grade details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        '401':
          description: Not authenticated
        '404':
          description: Grade not found or access denied
    put:
      tags: [Notes]
      summary: Update a grade
      operationId: updateNote
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/UuidPath'
        - name: examId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the new exam for the grade
        - name: studentId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the new student for the grade
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
      responses:
        '200':
          description: Grade successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Not authenticated
        '404':
          description: Grade not found or access denied
    delete:
      tags: [Notes]
      summary: Delete a grade
      operationId: deleteNote
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '204':
          description: Grade successfully deleted
        '401':
          description: Not authenticated
        '404':
          description: Grade not found or access denied

  /note-histories:
    post:
      tags: [Note Histories]
      summary: Create a grade history record
      operationId: createNoteHistory
      security:
        - bearerAuth: []
      parameters:
        - name: noteId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the grade being recorded in history
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteHistory'
      responses:
        '201':
          description: History record successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteHistory'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Not authenticated
    get:
      tags: [Note Histories]
      summary: Retrieve all grade histories
      operationId: getAllNoteHistories
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of accessible grade histories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NoteHistory'
        '401':
          description: Not authenticated

  /note-histories/{id}:
    get:
      tags: [Note Histories]
      summary: Retrieve a grade history by ID
      operationId: getNoteHistoryById
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '200':
          description: History record details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteHistory'
        '401':
          description: Not authenticated
        '404':
          description: History record not found or access denied
    put:
      tags: [Note Histories]
      summary: Update a grade history record
      operationId: updateNoteHistory
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/UuidPath'
        - name: noteId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the new grade for this history record
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteHistory'
      responses:
        '200':
          description: History record successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteHistory'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Not authenticated
        '404':
          description: History record not found or access denied
    delete:
      tags: [Note Histories]
      summary: Delete a grade history record
      operationId: deleteNoteHistory
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '204':
          description: History record successfully deleted
        '401':
          description: Not authenticated
        '404':
          description: History record not found or access denied

  /teachings:
    post:
      tags: [Teachings]
      summary: Create a course-teacher association
      operationId: createTeaching
      parameters:
        - name: courseId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the course
        - name: teacherId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the teacher
      responses:
        '201':
          description: Association successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Teaching'
        '400':
          $ref: '#/components/responses/BadRequest'
    get:
      tags: [Teachings]
      summary: Retrieve all course-teacher associations
      operationId: getAllTeachings
      responses:
        '200':
          description: List of all associations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Teaching'

  /teachings/{id}:
    get:
      tags: [Teachings]
      summary: Retrieve a course-teacher association by ID
      operationId: getTeachingById
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '200':
          description: Association details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Teaching'
        '404':
          description: Association not found
    put:
      tags: [Teachings]
      summary: Update a course-teacher association
      operationId: updateTeaching
      parameters:
        - $ref: '#/components/parameters/UuidPath'
        - name: courseId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the new course
        - name: teacherId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the new teacher
      responses:
        '200':
          description: Association successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Teaching'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Association not found
    delete:
      tags: [Teachings]
      summary: Delete a course-teacher association
      operationId: deleteTeaching
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '204':
          description: Association successfully deleted
        '404':
          description: Association not found

  /teachings/teacher/{teacherId}:
    get:
      tags: [Teachings]
      summary: Retrieve all teachings for a teacher
      operationId: getTeachingsByTeacher
      parameters:
        - name: teacherId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the teacher
      responses:
        '200':
          description: List of the teacher's teachings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Teaching'
        '404':
          description: Teacher not found

  /course-specialities:
    post:
      tags: [Course Specialities]
      summary: Create a course speciality
      operationId: createCourseSpeciality
      parameters:
        - name: coursesId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the course
        - name: semesterId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the semester
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourseSpeciality'
      responses:
        '201':
          description: Speciality successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseSpeciality'
        '400':
          $ref: '#/components/responses/BadRequest'
    get:
      tags: [Course Specialities]
      summary: Retrieve all course specialities
      operationId: getAllCourseSpecialities
      responses:
        '200':
          description: List of all specialities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CourseSpeciality'

  /course-specialities/{id}:
    get:
      tags: [Course Specialities]
      summary: Retrieve a course speciality by ID
      operationId: getCourseSpecialityById
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '200':
          description: Speciality details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseSpeciality'
        '404':
          description: Speciality not found
    put:
      tags: [Course Specialities]
      summary: Update a course speciality
      operationId: updateCourseSpeciality
      parameters:
        - $ref: '#/components/parameters/UuidPath'
        - name: coursesId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the new course
        - name: semesterId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the new semester
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourseSpeciality'
      responses:
        '200':
          description: Speciality successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseSpeciality'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Speciality not found
    delete:
      tags: [Course Specialities]
      summary: Delete a course speciality
      operationId: deleteCourseSpeciality
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '204':
          description: Speciality successfully deleted
        '404':
          description: Speciality not found

  /course-specialities/course/{coursesId}:
    get:
      tags: [Course Specialities]
      summary: Retrieve all specialities for a course
      operationId: getCourseSpecialitiesByCourse
      parameters:
        - name: coursesId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the course
      responses:
        '200':
          description: List of the course's specialities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CourseSpeciality'
        '404':
          description: Course not found

  /affectations:
    post:
      tags: [Affectations]
      summary: Create a student assignment
      operationId: createAffectation
      parameters:
        - name: studentId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the student
        - name: groupId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the group
        - name: semesterId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the semester
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Affectation'
      responses:
        '201':
          description: Assignment successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Affectation'
        '400':
          $ref: '#/components/responses/BadRequest'
    get:
      tags: [Affectations]
      summary: Retrieve all student assignments
      operationId: getAllAffectations
      responses:
        '200':
          description: List of all assignments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Affectation'

  /affectations/{id}:
    get:
      tags: [Affectations]
      summary: Retrieve a student assignment by ID
      operationId: getAffectationById
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '200':
          description: Assignment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Affectation'
        '404':
          description: Assignment not found
    put:
      tags: [Affectations]
      summary: Update a student assignment
      operationId: updateAffectation
      parameters:
        - $ref: '#/components/parameters/UuidPath'
        - name: studentId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the new student
        - name: groupId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the new group
        - name: semesterId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the new semester
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Affectation'
      responses:
        '200':
          description: Assignment successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Affectation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Assignment not found
    delete:
      tags: [Affectations]
      summary: Delete a student assignment
      operationId: deleteAffectation
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '204':
          description: Assignment successfully deleted
        '404':
          description: Assignment not found

  /affectations/student/{studentId}:
    get:
      tags: [Affectations]
      summary: Retrieve all assignments for a student
      operationId: getAffectationsByStudent
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the student
      responses:
        '200':
          description: List of the student's assignments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Affectation'
        '404':
          description: Student not found

  /affectations/promotion/{promotionId}:
    get:
      tags: [Affectations]
      summary: Retrieve all assignments for a promotion
      operationId: getAffectationsByPromotion
      parameters:
        - name: promotionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the promotion
      responses:
        '200':
          description: List of the promotion's assignments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Affectation'
        '404':
          description: Promotion not found

  /group-exams:
    post:
      tags: [Group Exams]
      summary: Create a group-exam association
      operationId: createGroupExam
      parameters:
        - name: groupId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the group
        - name: examId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the exam
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupExam'
      responses:
        '201':
          description: Association successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupExam'
        '400':
          $ref: '#/components/responses/BadRequest'
    get:
      tags: [Group Exams]
      summary: Retrieve all group-exam associations
      operationId: getAllGroupExams
      responses:
        '200':
          description: List of all associations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupExam'

  /group-exams/{id}:
    get:
      tags: [Group Exams]
      summary: Retrieve a group-exam association by ID
      operationId: getGroupExamById
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '200':
          description: Association details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupExam'
        '404':
          description: Association not found
    put:
      tags: [Group Exams]
      summary: Update a group-exam association
      operationId: updateGroupExam
      parameters:
        - $ref: '#/components/parameters/UuidPath'
        - name: groupId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the new group
        - name: examId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the new exam
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupExam'
      responses:
        '200':
          description: Association successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupExam'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Association not found
    delete:
      tags: [Group Exams]
      summary: Delete a group-exam association
      operationId: deleteGroupExam
      parameters:
        - $ref: '#/components/parameters/UuidPath'
      responses:
        '204':
          description: Association successfully deleted
        '404':
          description: Association not found

  /group-exams/group/{groupId}:
    get:
      tags: [Group Exams]
      summary: Retrieve all exams for a group
      operationId: getGroupExamsByGroup
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the group
      responses:
        '200':
          description: List of the group's exams
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupExam'
        '404':
          description: Group not found

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    UuidPath:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Unique identifier in UUID format

  schemas:
    CreateUserRequest:
      type: object
      required:
        - reference
        - firstName
        - lastName
        - birthdate
        - email
        - rawPassword
      properties:
        reference:
          type: string
          description: Functional reference of the user
          example: "STU-2026-0001"
        firstName:
          type: string
          example: "John"
        lastName:
          type: string
          example: "Doe"
        birthdate:
          type: string
          format: date-time
          example: "2001-05-14T00:00:00Z"
        email:
          type: string
          format: email
          example: "john.doe@hei.mg"
        rawPassword:
          type: string
          format: password
          minLength: 8
          description: Plain-text password provided by the client
          example: "S3curePassword!"
        address:
          type: string
          example: "123 Main Street, Antananarivo"
        phoneNumber:
          type: string
          example: "+261340000000"

    CreateAdminRequest:
      type: object
      required:
        - reference
        - firstName
        - lastName
        - birthdate
        - email
        - password
      properties:
        reference:
          type: string
          example: "ADM-2026-0001"
        firstName:
          type: string
          example: "Admin"
        lastName:
          type: string
          example: "User"
        birthdate:
          type: string
          format: date-time
          example: "1980-01-01T00:00:00Z"
        email:
          type: string
          format: email
          example: "admin@hei.mg"
        password:
          type: string
          format: password
          minLength: 8
          example: "AdminSecure123!"
        address:
          type: string
          example: "456 Admin Street"
        phoneNumber:
          type: string
          example: "+261330000000"

    UserResponse:
      type: object
      properties:
        reference:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        birthdate:
          type: string
          format: date-time
        email:
          type: string
        address:
          type: string
        phoneNumber:
          type: string
        role:
          type: string
          enum: [STUDENT, TEACHER, ADMIN]
      description: The password is never returned in the response

    ErrorResponse:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        status:
          type: integer
          example: 400
        error:
          type: string
          example: "Bad Request"
        message:
          type: string
          example: "Field 'email' is required."
        path:
          type: string
          example: "/api/students"

    Student:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the student
        reference:
          type: string
          description: Functional reference
        firstName:
          type: string
        lastName:
          type: string
        birthdate:
          type: string
          format: date-time
        email:
          type: string
          format: email
        address:
          type: string
        phoneNumber:
          type: string
        userId:
          type: string
          format: uuid
          description: ID of the associated user

    Teacher:
      type: object
      properties:
        id:
          type: string
          format: uuid
        reference:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        birthdate:
          type: string
          format: date-time
        email:
          type: string
          format: email
        address:
          type: string
        phoneNumber:
          type: string
        userId:
          type: string
          format: uuid

    Course:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
          example: "CS101"
        name:
          type: string
          example: "Introduction to Computer Science"
        credits:
          type: integer
          example: 3
        description:
          type: string

    Promotion:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "Promotion 2026"
        year:
          type: integer
          example: 2026
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date

    Semester:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "Semester 1"
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        promotionId:
          type: string
          format: uuid

    Group:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "Group A"
        promotionId:
          type: string
          format: uuid

    Exam:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "Final Exam"
        coefficient:
          type: number
          format: float
          example: 1.5
        date:
          type: string
          format: date-time
        duration:
          type: integer
          description: Duration in minutes
          example: 120
        courseId:
          type: string
          format: uuid
        semesterId:
          type: string
          format: uuid

    Note:
      type: object
      properties:
        id:
          type: string
          format: uuid
        value:
          type: number
          format: float
          minimum: 0
          maximum: 20
          example: 15.5
        examId:
          type: string
          format: uuid
        studentId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    NoteHistory:
      type: object
      properties:
        id:
          type: string
          format: uuid
        noteId:
          type: string
          format: uuid
        oldValue:
          type: number
          format: float
        newValue:
          type: number
          format: float
        modifiedBy:
          type: string
          format: uuid
          description: ID of the user who made the modification
        modifiedAt:
          type: string
          format: date-time

    Teaching:
      type: object
      properties:
        id:
          type: string
          format: uuid
        courseId:
          type: string
          format: uuid
        teacherId:
          type: string
          format: uuid

    CourseSpeciality:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "AI Speciality"
        description:
          type: string
        coursesId:
          type: string
          format: uuid
        semesterId:
          type: string
          format: uuid

    Affectation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        studentId:
          type: string
          format: uuid
        groupId:
          type: string
          format: uuid
        semesterId:
          type: string
          format: uuid

    GroupExam:
      type: object
      properties:
        id:
          type: string
          format: uuid
        groupId:
          type: string
          format: uuid
        examId:
          type: string
          format: uuid

  responses:
    BadRequest:
      description: Invalid request (missing or malformed field)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: A user with this reference or email already exists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'